header {
  background-color: #1e2326;
  padding: 1.5rem;
  position: sticky;
  width: 100%;
  z-index: 1;
  top: 0.2px;
  margin: auto;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
}

.logo a {
  color: #DE4B6E;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: bolder;
}

.enlaces-menu {
  padding: 0;
}

.enlaces-menu li {
  display: inline-block;
  padding: 0 10px;
}

.enlaces-menu li a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

.enlaces-menu a:hover {
  color: #DE4B6E;
}

.ham {
  display: none;
  cursor: pointer;
  border: none;
  background-color: #DE4B6E;
  border-radius: 3px;
}

.ham span {
  display: block;
  color: #f3f3f3;
  margin: auto;
  border-radius: 2px;
  padding: 5px;
  font-size: 2rem;
}

@media screen and (max-width: 989px) {
  .ham {
    display: flex;
  }

  .menu {
    align-items: flex-start;
    padding: 15px 0;
  }

  .enlaces-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 92vh;
    margin: 0;
    padding: 0;
    width: 100%;
    display: none;
    position: absolute;
    right: 0px;
    top: 90px;
    background-color: #1e2326;
  }

  .enlaces-menu li {
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  .enlaces-menu li:hover {
    background-color: #DE4B6E;
    border-radius: 5px;
  }

  .enlaces-menu li a:hover {
    color: #1e2326;
  }
}
@keyframes muestraMenu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.enlaces-menu.activado {
  display: flex;
  animation: muestraMenu 350ms ease-in-out both;
}

.start {
  background-color: #252A2E;
}

.content-section-start {
  display: flex;
  justify-content: center;
  background-image: url("../img/photo-fondo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.start-container {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  background-color: #1e2326;
  padding: 1.5rem;
  margin: 2rem 0;
  align-items: center;
  border-radius: 60px 5px 60px 5px;
}
.start-container p {
  color: #DE4B6E;
}

.img_olinda {
  width: 50%;
  border-radius: 50%;
}

.redes {
  display: flex;
  width: 80%;
  justify-content: space-between;
}
.redes img {
  width: 3rem;
  border-radius: 50px;
}

.redes img:hover {
  background-color: #DE4B6E;
}

@media screen and (max-width: 989px) {
  .content-section-start {
    background-image: none;
  }
}
.section-about-me {
  background-color: #252A2E;
  color: white;
  padding: 2rem 1rem;
}

.about-me span {
  display: inline-block;
  color: #DE4B6E;
  font-weight: bold;
  width: 230px;
}

.data_interests {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 20px;
}

.cont-interests {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.content-data ul {
  list-style: none;
  padding-left: 0;
}
.content-data ul li {
  margin: 12px 0;
  font-size: 1.2rem;
}
.content-data ul strong {
  display: inline-block;
  color: #DE4B6E;
  width: 130px;
}

.interests img {
  width: 5rem;
}

.interests {
  background-color: #1e2326;
  border-radius: 10px;
  width: 6rem;
}
.interests img:hover {
  background-color: #DE4B6E;
  border-radius: 5px;
}
.interests a, .interests span {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 989px) {
  .cont-interests {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 789px) {
  .data_interests {
    display: flex;
    flex-direction: column;
  }
}
.section-skill {
  background-color: #1e2326;
  padding: 1rem;
  color: white;
}

.technical-professional {
  display: grid;
  border-radius: 5px;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.skill > span {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

.barra-skill {
  height: 8px;
  width: 80%;
  background-color: #333F50;
  position: relative;
  margin-bottom: 30px;
}

.skill .progreso {
  background-color: #DE4B6E;
  position: absolute;
  top: 0;
  left: 0;
  height: 8px;
}

.skill .barra-skill span {
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: #DE4B6E;
  border-radius: 50px;
  line-height: 40px;
  text-align: center;
  top: -17px;
  right: -15px;
  font-size: 14px;
}

.skill .javascript {
  width: 0%;
  animation: 2s javascript forwards;
}

@keyframes javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 72%;
  }
}
.skill .htmlcss {
  width: 0%;
  animation: 2s htmlcss forwards;
}

@keyframes htmlcss {
  0% {
    width: 0%;
  }
  100% {
    width: 89%;
  }
}
.skill .react {
  width: 0%;
  animation: 2s react forwards;
}

@keyframes react {
  0% {
    width: 0%;
  }
  100% {
    width: 63%;
  }
}
.skill .wordpress {
  width: 0%;
  animation: 2s wordpress forwards;
}

@keyframes wordpress {
  0% {
    width: 0%;
  }
  100% {
    width: 54%;
  }
}
.skill .comunicacion {
  width: 0%;
  animation: 2s comunicacion forwards;
}

@keyframes comunicacion {
  0% {
    width: 0%;
  }
  100% {
    width: 74%;
  }
}
.skill .trabajoequipo {
  width: 0%;
  animation: 2s trabajoequipo forwards;
}

@keyframes trabajoequipo {
  0% {
    width: 0%;
  }
  100% {
    width: 89%;
  }
}
.skill .creatividad {
  width: 0%;
  animation: 2s creatividad forwards;
}

@keyframes creatividad {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
.skill .dedicacion {
  width: 0%;
  animation: 2s dedicacion forwards;
}

@keyframes dedicacion {
  0% {
    width: 0%;
  }
  100% {
    width: 85%;
  }
}
.fila1, .fila2 {
  display: flex;
  width: 100%;
  background-color: #252A2E;
}

@media screen and (max-width: 789px) {
  .technical-professional {
    display: flex;
    flex-direction: column;
  }

  .fila2 {
    margin-top: 1rem;
  }

  .barra-skill {
    width: 100%;
  }
}
.section-curriculum {
  background-color: #1e2326;
  color: #fff;
  padding: 1rem 0.5rem;
}

.content-curriculum {
  max-width: 1100px;
  margin: auto;
}

.fila {
  display: flex;
}

.col {
  display: flex;
  flex-direction: column;
  width: 49%;
  padding: 0 20px;
  flex: 1;
}

.izquierda {
  border-right: 2px solid #252A2E;
}

.derecha {
  border-left: 2px solid #252A2E;
}

.item {
  display: flex;
  padding: 25px;
  margin-bottom: 30px;
  background-color: #252A2E;
  flex: 1;
}

.casa {
  color: #DE4B6E;
  font-size: 22px;
  font-weight: bold;
  display: block;
}

.fecha {
  display: block;
  color: #DE4B6E;
}

.col .izq {
  border-right: 2px solid #DE4B6E;
  margin-right: 20px;
}

.col .der {
  border-left: 2px solid #DE4B6E;
  margin-left: 20px;
}

@media screen and (max-width: 789px) {
  .fila {
    flex-direction: column;
  }

  .fila .col {
    width: 100%;
  }
}
.section-portfolio {
  background-color: #1e2326;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding-bottom: 2rem;
}

.proyecto img {
  width: 350px;
  height: 200px;
}

.proyecto {
  background-color: #252A2E;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
}

.overlay {
  text-align: center;
}

@media screen and (max-width: 989px) {
  .galeria {
    display: block;
  }
}
@media screen and (max-width: 1350px) {
  .galeria {
    grid-template-columns: repeat(2, 1fr);
  }
}
.contacto {
  background-color: #252A2E;
  padding: 1rem 0 3rem 0;
}

.form-contact-content {
  background-color: #1e2326;
  max-width: 40rem;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 5px;
}

.form-contact-content label {
  line-height: 2.7rem;
  font-weight: bold;
  color: #DE4B6E;
}

.form-contact-content textarea {
  min-height: 6.25rem;
  font-size: 14px;
}

.input-field {
  width: 100%;
  padding-top: 10px;
  border-radius: 5px;
  border: none;
  font-size: 1 rem;
  outline: none;
}

.input-field::placeholder {
  padding: 0.5rem;
  color: #1e2326;
}

.submit-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  border: 2px solid #DE4B6E;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
}

.submit-btn:hover {
  background-color: #DE4B6E;
  color: #fff;
  cursor: pointer;
}

footer {
  background-color: #1e2326;
  color: #9b9898;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  flex-direction: column;
}

.arriba span {
  color: #DE4B6E;
  font-size: 2.5rem;
}

.redes_footer {
  display: flex;
  width: 40%;
  justify-content: space-between;
}
.redes_footer img {
  width: 2.5rem;
  border-radius: 50px;
}

.redes_footer img:hover {
  background-color: #DE4B6E;
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h3 {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h2 {
  font-size: 3rem;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 2rem 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
  color: white;
}

p {
  font-size: 1.3rem;
}

.wrapper {
  margin: 0 16px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1rem;
}

@media screen and (min-width: 768px) {
  .wrapper {
    padding: 0 7.5rem;
  }
}
.font {
  font-family: "Merienda", cursive;
}

/*# sourceMappingURL=main.css.map */
