.section-about-me{
    background-color: #252A2E;
    color: white;
    padding: 2rem 1rem;
}
.about-me span{
    display: inline-block;
    color: #DE4B6E;
    font-weight: bold;
    width: 230px;
}
.data_interests{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 20px;
}
.cont-interests{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
.content-data ul{
    list-style: none;
    padding-left: 0;
    li{
        margin: 12px 0;
        font-size: 1.2rem;
     }
    strong{
        display: inline-block;
        color: #DE4B6E;
        width: 130px;
    }
}
.interests img{
    width: 5rem;
}
.interests{
    background-color: #1e2326;
    border-radius: 10px;
    width: 6rem;
    img:hover{
        background-color: #DE4B6E;
        border-radius: 5px;
    }
    a,span{
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width:989px) {
    .cont-interests{
        grid-template-columns: repeat(3,1fr);
    }
}
@media screen and (max-width:789px) {
    .data_interests{
       display: flex;
       flex-direction: column;
    }
    .cont-interests{
        grid-template-columns: repeat(4,1fr);
    }
}