.section-about-me{
    background-color: #252A2E;
    padding:1rem 5rem 3rem;
    color: white;
}
.about-me span{
    color: #DE4B6E;
    font-weight: bold;
}
.data_interests{
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}
.content-data,.content-interests{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.content-data ul{
    list-style: none;
    padding-left: 0;
    li{
        margin: 12px 0;
        font-size: 1.2rem;
     }
    strong{
        display: inline-block;
        color: #DE4B6E;
        width: 130px;
    }
}
.content-interests img{
    width: 4rem;
}
.interests-one,.interests-two{
    display: flex;
}
.interests{
    background-color: #1e2326;
    border-radius: 10px;
    width: 6rem;
    height: 6rem;
    margin:  15px;
    padding: 10px;
    img:hover{
        background-color: #DE4B6E;
        border-radius: 5px;
    }
    a,span{
        display: flex;
        justify-content: center;
    }
}