header{
    background-color: #1e2326;
    padding: 1.5rem;
    position: sticky;
    width: 100%;
    z-index: 1;
    top: 0.2px;
    margin: auto;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
}
.logo a{
    color: #DE4B6E;
    text-decoration: none;
    font-size:1.8rem;
    font-weight:bolder; 
}
.enlaces-menu{
    padding: 0;
}
.enlaces-menu li{
    display: inline-block;
    padding: 0 10px;
}
.enlaces-menu li a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.enlaces-menu a:hover{
    color: #DE4B6E;
}
.ham{
    display: none;
    cursor: pointer;
    border: none;
    background-color:#DE4B6E;
    border-radius: 3px;
}
.ham span{
    display: block;
    color: #f3f3f3;
    margin: auto;
    border-radius: 2px;
    padding: 5px;
    font-size: 2rem;
}
@media screen and (max-width:989px){
    .ham{
        display:flex;
    }
   .menu{
        align-items: flex-start;
        padding: 15px 0;
    }
    .enlaces-menu{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 92vh;
        margin: 0;
        padding: 0;
        width: 100%;
        display: none;
        position: absolute;
        right: 0px;
        top: 90px;
        background-color: #1e2326;
    }
    .enlaces-menu li{
        width: 100%;
        text-align: center;
        padding: 10px;
    }
    .enlaces-menu li:hover{
        background-color: #DE4B6E;
        border-radius: 5px;
    }
    .enlaces-menu li a:hover{
        color: #1e2326;
    }
}
@keyframes muestraMenu{
    from{opacity: 0;}
    to{opacity: 1;}
}
.enlaces-menu.activado{
    display: flex;
    animation: muestraMenu 350ms ease-in-out both;
}
