.section-portfolio{
    background-color: #1e2326;
}
.galeria{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    padding-bottom: 2rem;
}
.proyecto img{
    width: 350px;
    height: 200px;
}
.proyecto{
    background-color: #252A2E;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
}
.overlay{
    text-align: center;
}
@media screen and (max-width:989px){
    .galeria{
        display: block;
    }
}
@media screen and (max-width:1350px){
    .galeria{
        grid-template-columns: repeat(2,1fr);
    }
}