.start{
    background-color:#252A2E;
}
.content-section-start{
    display: flex;
    justify-content: center;
    background-image: url("../img/photo-fondo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.start-container{
    display: flex;
    flex-direction: column;
    max-width: 350px;
    background-color: #1e2326;
    padding: 1.5rem;
    margin: 2rem 0;
    align-items: center;
    border-radius: 60px 5px 60px 5px;
    p{
        color: #DE4B6E;
    }
}
.img_olinda{
    width: 50%;
    border-radius: 50%;
}
.redes {
    display: flex;
    width: 80%;
    justify-content: space-between;
    img{
        width: 3rem;
        border-radius: 50px;
    }
}
.redes img:hover{
    background-color:#DE4B6E ;
}

@media screen and (max-width:989px){
    .content-section-start{
        background-image: none;
    }
}